// app global css in SCSS form
.bg-img{
  background-image: url("../assets/blue.png");
  background-size:contain;
}

.bg-header{
  max-width: 100vw;
  max-height: 100vh;
  background-color: white;
}

.header-text{
  font-family: 'Exo', sans-serif;
}
.overlay{
  background-color: $dark;
  opacity: 25%;
}

.dark-bg{
  background-color: rgba(17,17,17,.25);
}

.light-bg{
  background-color: rgba(255,255,255,.25);
}

.card-overlay{
  height: 100%;
  width: 100%;
}

.grow {
  transition: all 0.55s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.grow:hover .hidden-text {
  opacity: 1;
}

.hidden-text {
  opacity: 0;
  transition: all 0.55s ease-in-out;
}


.logo{
  border-radius: 50%;
}

.my-card{
  // background-color: #a3b7ca44;
}

.big-rounded{
  border-radius: 1rem;
}
